body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #10071a
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
main {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 50px
}
#container {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  background-color: #651f31;
  
}
#statusWrapper {
  width: 100%;
  float: left;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ccd7d5;
}
.row {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}
.cell {
  width: 23px;
  height: 23px;
  margin: 1px;
  float: left;
  position: relative;
  left: 0;
  top: 0;
  opacity: 0.80;
}
.item {
  width: 13px;
  height: 13px;
  box-sizing: border-box;
  margin: 5px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 1;
}

.rover {
  width: 9px;
  height: 9px;
  background-color: #fff;
  border: 2px solid #360e39;
  box-sizing: border-box;
  margin: 7px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 12;
}
.plants {
  background-color: #bfed91;
}
.oxygen {
  background-color: #4061ab;
}
.solar {
  background-color: #241d29;
}
.battery {
  background-color: #e97733;
}
.labo {
  background-color: #f6d154;
}
